* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-size: 1.0em;
}

img {
    max-width: 100%;
}