.empleados {
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
  
}
main{
    background-color: rgba(95, 158, 160, 0.096);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    padding-top: 1em;
    font-weight: 300;
}
img {
    width: 100%;
    object-fit: cover;
    margin: 1em;

}

.info {
    text-align: center;
    box-shadow: 1em 1em 1em rgba(236, 236, 236, 0.6);
    padding: 2em;
}
.filosofia{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(92, 152, 155, 0.041);
   padding: 1em;
}
.info>*{
    text-align: center;
    list-style-type: none;
}
.narrow{
    width: 80%;
}
h6 {
    padding: 1em;
}
h3{
    font-weight: 300;
}
@media (min-width:800px){
    section{
        width: 70%;
    }
    .empleados{
        grid-template-columns: repeat(2, 1fr);
    }
}
