<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <style>
        a{
            text-decoration: none;
            margin: 2em;
            padding: 1em;
            border: 1px solid black;
            color: white;
            background-color: cadetblue;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
    </style>
</head>
<body>
    <h1>
        Ha habido un error, estamos trabajando en ello.
    </h1>
    <a href="/index.html">INICIO</a>
</body>
</html>