<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PaginaProducto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="topnav">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/mecanicos.html">Sobre Nosotros</a></li>
            <li><a class="active" href="/Productos">Productos</a></li>
            <li><a href="/servicios.html">Servicios</a></li>
            <li><a href="">Dónde Encontrarnos</a></li>
        </ul>
      </nav>


    <main>
        <div class="container">
            <div>
                <img th:src="${producto.url}"  alt="">
            </div>
            
    
            <div class="textoProducto">
                <h1 class="nombreProducto" th:text="${producto.marca}"></h1>
                <h2 class="modelo" th:text="${producto.modelo}"></h2>
                <h3 class="precio" th:text="${producto.precio + '€'}"></h3>
                <p class="descripcion" th:text="${producto.descripcion}"></p>
                <p class="stock" th:utext="${'Stock: ' + producto.stock}"></p>
                <a href="/contacto.html" class="botonContacto">Contactanos para conocer más</a>
           </div>
        </div>
        
    </main>


    <footer>
        <div class="footerSup">

            <div class="footerCat" id="contacto">
                <ul>
                    <h6>Contacto</h6>
                    <li><a href="tel:644594220">644594220</a></li>
                    <li><a href="wa:">Icono WHataspp</a></li>
                    <li><a href="mailto:ikbsc@plaiaundi.net">ikbsc@plaiaundi.net</a></li>
                </ul>
            </div>
            <div class="footerCat" id="servicio">
                <ul>
                    <h6>Servicios</h6>
                    <li>Revisión ITV</li>
                    <li>Reparaciones</li>
                    <li>Venta de piezas</li>
                </ul>
            </div>
            <div class="footerCat" id="horario">
                <ul>
                    <h6>Horario Laboral</h6>
                    <li>L-V 8:30-13:00 15:30-19:00</li>
                    <li>S - 8:30-13:00</li>
                    <li>Domingos y festivos cerrado</li>
                </ul>

            </div>
            <div class="footerCat" id="local">
                <ul>
                    <h6>Dónde encontrarnos</h6>
                    <li>Mendelu Kalea 32, 20280, Hondarribia</li>
                </ul>
            </div>

        </div>

        <div class="footerInf">
            <a href="" class="terminos">Politica de privacidad</a>
            <a href="" class="terminos centro">Politica de cookies</a>
            <a href="" class="terminos">Terminos de uso</a>
        </div>

    </footer>
    
    
</body>
</html>